* {
  box-sizing: border-box;
}

p {
  line-height: 1.65;
  margin-bottom: 1em;
}

section {
  padding: 2em 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex-grow: 1;
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}
