<template id="js-comment-template">
    <div class="comment">
        <div class="comment__profile-picture">
            <img src="{{ asset('uploads/user-placeholder.png') }}" alt="">
        </div>
        <div class="comment__body">
            <div class="comment__head">
                <span class="comment__author-name"></span>
                <span class="comment__creation-date"></span>
            </div>
            <p class="comment__content"></p>
        </div>
    </div>
</template>
