<template id="js-comment-template">
    <div class="comment">
        <div class="comment__profile-picture">
            <img src="{{ asset('uploads/user-placeholder.png') }}" alt="">
        </div>
        <div class="comment__body">
            <p class="comment__author-name"></p>
            <p class="comment__content"></p>
        </div>
    </div>
</template>
