<template id="js-trick-card">
    <div class="trick-card">

        <a href="{{ asset('uploads/figure-placeholder.jpg') }}" class="trick-card__image trick__link">
            <img src="{{ asset('uploads/figure-placeholder.jpg') }}" alt="">
        </a>

        <div class="trick-card__body">
            <h3 class="trick-card__name">
                <a href="#" class="trick__link"></a>
            </h3>


            <div class="trick-card__actions">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</template>
