.button {
  font-size: 1em;
  cursor: pointer;
  padding: 0.8em 1.2em;
  color: $text-color-alt;
  background-color: $brand-color;
  border-radius: 7px;
  border: 2px solid transparent;
  transition: all $duration-fast;

  &.small {
    font-size: 0.9em;
    padding: 0.6em 0.9em;
  }

  &:hover {
    border: 2px solid $brand-color;
    color: $brand-color;
    background-color: $text-color-alt;
  }
}
