.banner {
  position: relative;
  background-image: url("../../images/snowboard-bg.jpg");
  background-position: top center;
  background-size: cover;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__slogan,
  &__arrow {
    position: relative;
    z-index: 1;
    color: $text-color-alt;
  }

  &__slogan {
    font-size: 2em;
    text-align: center;
    line-height: 1.2;
    text-shadow: 1px 1px 2px black;
  }

  &__arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2.5em;
    transition: color $duration-fast;

    &:hover {
      color: $brand-color;
    }
  }

  @media all and (min-width: $breakpoint-medium) {
    &__slogan {
      font-size: 3em;
    }
  }
}
