.header {
  padding: 0 1em;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-toggle {
    font-size: 1.8em;
    cursor: pointer;
  }

  @media all and (min-width: $breakpoint-medium) {
    &__nav-toggle {
      display: none;
    }
  }
}
