.trick-details {
  max-width: 1200px;
  margin: 1em auto;
  border: 2px solid $text-color;
  border-radius: 7px;
  background-color: #fff;
  padding-top: 0;

  &__banner {
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    & > img {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 1.9em;
    color: $text-color-alt;
    text-shadow: 2px 2px 2px #000;
    z-index: 10;
  }

  &__body {
    max-width: 900px;
    margin: 1.5em auto 0;
    padding: 0 1em;
  }

  &__data {
    text-align: center;
  }

  &__data > * {
    margin-top: 0.5em;
    color: #fff;
    display: inline-block;
    padding: 0.3em 0.6em;
    border: 1px solid $text-color;
    border-radius: 25px;
  }

  &__creation-date {
    background-color: #33b5e5;
  }

  &__group {
    background-color: #4285f4;
  }

  &__update-date {
    background-color: #0d47a1;
  }

  &__comments {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  &__medium-title {
    font-size: 1.2em;
    margin: 1.5em 0;
  }

  &__comment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;

    & .form__label {
      text-align: left;
    }

    & .form__input {
      height: 120px;
    }
  }

  @media all and (min-width: $breakpoint-small) {
    &__banner {
      height: 400px;
    }
  }

  @media all and (min-width: $breakpoint-medium) {
    &__banner {
      height: 550px;
    }

    &__medias > button {
      display: none;
    }

    &__body {
      margin-top: 3em;
    }
  }
}
