<h1>Bonjour {{ email.toName }}!</h1>

<p>
    Vous avez demandé une réinitialisation du mot de passe pour l'e-mail suivant :
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Cliquez ici pour réinitialiser le mot de passe</a>
    (ce lien est valide jusqu'à {{ expiration_date|date('F jS') }})
</p>
