{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <section class="banner">
        <h2 class="banner__slogan">
            Communauté de Snowboarders
        </h2>

        <a href="#tricks">
            <i class="fa fa-arrow-down banner__arrow" aria-hidden="true"></i>
        </a>
    </section>
{% endblock %}
