{% extends 'base.html.twig' %}

{% block title %}Communauté de Snowboarders{% endblock %}

{% block body %}
    <section class="banner">
        <h2 class="banner__slogan">
            Communauté de Snowboarders
        </h2>

        <a href="#tricks">
            <i class="fa fa-arrow-down banner__arrow" aria-hidden="true"></i>
        </a>
    </section>

    <section class="tricks" id="tricks">
        <div class="section-wrapper">

            {% for trick in tricks %}
                {% include 'layouts/_trick-card.html.twig' with { trick } %}
            {% endfor %}
        </div>

        <button class="button tricks__load-more js-load-more">
            <i class="fa fa-spinner" aria-hidden="true"></i>
            En charger plus
        </button>

        <a href="#tricks">
            <i class="fa fa-arrow-up tricks__arrow" aria-hidden="true"></i>
        </a>
    </section>
{% endblock %}
